#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

/* App header */
.app-header{
    padding: 15px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.app-header h1{
    font-size: 1.2em;
    margin-left: 40px;
}

/* App Content */
.app-content{
    flex-grow: 1;
    width: 100%;
    max-width: 1280px;
    margin: 20px auto;
}

.app-footer{
    padding: 20px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    font-size: 0.8em;
}
